$color-verde: green;
$color-amarillo: yellow;
$color-azul: blue;
$color-naranja: orange;
$color-rojo: red;
$color-violeta-azul:blueviolet;
$color-violeta-claro: darkorchid;
$color-coral: coral;
$color-negro: black;
$color-amarillo-verde: greenyellow;
$color-aqua: aqua;
$color-aqua-marine: aquamarine;
$color-naranja-oscuro: darkorange;
$color-rosa: pink;
$color-monasterio: chartreuse;
$color-rosa-profundo: deeppink;